/* input.css */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@700;800;900&display=swap');

@theme {
    --color-preto: #000000;
    --color-cinza-chumbo: #2B2B2B;
    --color-cinza-medio: #6E6E6E;
    --color-cinza-claro: #D9D9D9;
    --color-laranja: #FF5100;
    --color-laranja-hover: #E64800;
    --color-branco: #FFFFFF;

    --font-sans: "Inter", ui-sans-serif, system-ui;
    --font-poppins: "Poppins", sans-serif;
}

@import "./style.css";