/* input.css */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@700;800;900&display=swap');

@theme {
    --color-preto: #0f0f0f;
    --color-cinza-chumbo: #2B2B2B;
    --color-cinza-medio: #6E6E6E;
    --color-cinza-claro: #D9D9D9;
    --color-laranja: #FF3500;
    --color-laranja-hover: #E64800;
    --color-branco: #FFFFFF;

    --color-primary: #FF3500;

    --font-sans: "Inter", ui-sans-serif, system-ui;
    --font-poppins: "Poppins", sans-serif;

    --color-primary: oklch(65% .25 40);
    --color-primary-foreground: oklch(100% 0 0);
    --color-sidebar-primary: oklch(65% .25 40);
    --color-sidebar-primary-foreground: oklch(100% 0 0);
    --color-chart-1: oklch(65% .25 40);
    --color-chart-2: oklch(55% .2 40);
    --color-chart-3: oklch(45% .15 40);
    --color-chart-4: oklch(35% .1 40);
    --color-chart-5: oklch(25% .05 40);
    --color-radius: .5rem;
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(0% 0 0);
    --color-card: oklch(100% 0 0);
    --color-card-foreground: oklch(0% 0 0);
    --color-popover: oklch(100% 0 0);
    --color-popover-foreground: oklch(0% 0 0);
    --color-secondary: oklch(17% 0 0);
    --color-secondary-foreground: oklch(100% 0 0);
    --color-muted: oklch(17% 0 0);
    --color-muted-foreground: oklch(43% 0 0);
    --color-accent: oklch(65% .25 40);
    --color-accent-foreground: oklch(100% 0 0);
    --color-destructive: oklch(57.7% .245 27.325);
    --color-destructive-foreground: oklch(98.5% 0 0);
    --color-border: oklch(85% 0 0);
    --color-input: oklch(85% 0 0);
    --color-ring: oklch(65% .25 40);
    --color-sidebar: oklch(98.5% 0 0);
    --color-sidebar-foreground: oklch(0% 0 0);
    --color-sidebar-accent: oklch(17% 0 0);
    --color-sidebar-accent-foreground: oklch(100% 0 0);
    --color-sidebar-border: oklch(85% 0 0);
    --color-sidebar-ring: oklch(65% .25 40);
}

@import "./style.css";